.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Roboto';
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: #e90418;
    z-index: 100;
}

@media (max-width: 1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
    
}