.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Roboto';
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: #e90418;
    z-index: 100;
    
}

.header::after{
    background-color: #E9DAC1; 
    bottom: 0;
    content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 91%;
}



@media (max-width: 1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
    
}

.toggle{
    display: flex;
    gap : 10px;
    padding-top: 35px;
    position:absolute;
    right: 35px;
}

.sizer{
    font-size: 1vw;
    padding-top: 2px;
    color : white
}

@media (max-width: 1000px) {
    .toggle{
        padding-top: 8px;
        gap: 60vw
        
    }
    .sizer{
        font-size: 10px;
        padding-top: 5.5px;
        
    }
    
}